alembic==0.9.10
aniso8601==3.0.2
click==6.7
Flask==1.0.2
Flask-JWT-Simple==0.0.3
flask-marshmallow==0.9.0
Flask-Migrate==2.2.1
flask-restplus==0.11.0
Flask-SQLAlchemy==2.3.2
gunicorn==19.9.0
itsdangerous==0.24
Jinja2==2.10
jsonschema==2.6.0
Mako==1.0.7
MarkupSafe==1.0
marshmallow==2.15.3
marshmallow-sqlalchemy==0.14.0
psycopg2-binary==2.7.5
PyJWT==1.6.4
python-dateutil==2.7.3
python-editor==1.0.3
pytz==2018.5
six==1.11.0
SQLAlchemy==1.2.9
webargs==3.0.2
Werkzeug==0.14.1
